.assignment3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.assignment3-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.assignment3-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.assignment3-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.assignment3-navlink {
  display: contents;
}
.assignment3-image {
  width: 123px;
  height: 58px;
  object-fit: cover;
  text-decoration: none;
}
.assignment3-links-container {
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
}
.assignment3-link {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment3-link1 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment3-link2 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment3-link3 {
  color: #66bb25;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
}
.assignment3-link4 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment3-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.assignment3-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.assignment3-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.assignment3-icon {
  width: 36px;
  height: 36px;
}
.assignment3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.assignment3-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.assignment3-image1 {
  width: 50px;
  object-fit: cover;
}
.assignment3-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignment3-icon02 {
  width: 24px;
  height: 24px;
}
.assignment3-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignment3-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.assignment3-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment3-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment3-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment3-link8 {
  text-decoration: none;
}
.assignment3-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.assignment3-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.assignment3-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.assignment3-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.assignment3-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.assignment3-icon08 {
  width: 24px;
  height: 24px;
}
.assignment3-hero {
  width: 100%;
  height: 1620px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment3-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.assignment3-heading {
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-cta-btn2 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: flex-start;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.assignment3-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment3-hero-text-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.assignment3-heading1 {
  color: rgba(55, 55, 55, 0.66);
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-text024 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-text026 {
  color: var(--dl-color-gray-500);
}
.assignment3-text027 {
  color: var(--dl-color-gray-500);
}
.assignment3-text028 {
  font-weight: 700;
}
.assignment3-text029 {
  color: var(--dl-color-gray-500);
}
.assignment3-text030 {
  color: var(--dl-color-gray-500);
}
.assignment3-text032 {
  color: var(--dl-color-gray-500);
}
.assignment3-text034 {
  color: var(--dl-color-gray-500);
}
.assignment3-text036 {
  color: var(--dl-color-gray-500);
}
.assignment3-text037 {
  font-weight: 700;
}
.assignment3-text039 {
  color: var(--dl-color-gray-500);
}
.assignment3-text040 {
  font-weight: 700;
}
.assignment3-text041 {
  text-decoration: underline;
}
.assignment3-text042 {
  text-decoration: underline;
}
.assignment3-text043 {
  text-decoration: underline;
}
.assignment3-text044 {
  text-decoration: underline;
}
.assignment3-text045 {
  font-weight: 700;
  text-decoration: underline;
}
.assignment3-text047 {
  font-weight: 700;
  text-decoration: underline;
}
.assignment3-text048 {
  color: var(--dl-color-gray-500);
}
.assignment3-text049 {
  color: var(--dl-color-gray-500);
}
.assignment3-text050 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: italic;
}
.assignment3-text051 {
  font-size: 12px;
  font-style: italic;
}
.assignment3-text052 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: italic;
}
.assignment3-text053 {
  color: var(--dl-color-gray-500);
}
.assignment3-text054 {
  color: var(--dl-color-gray-500);
}
.assignment3-text055 {
  color: var(--dl-color-gray-500);
}
.assignment3-text056 {
  font-weight: 700;
}
.assignment3-text057 {
  color: var(--dl-color-gray-500);
}
.assignment3-text058 {
  color: var(--dl-color-gray-500);
}
.assignment3-text060 {
  color: var(--dl-color-gray-500);
}
.assignment3-text062 {
  color: var(--dl-color-gray-500);
}
.assignment3-text066 {
  font-weight: 700;
  text-decoration: underline;
}
.assignment3-text067 {
  color: var(--dl-color-gray-500);
  text-decoration: underline;
}
.assignment3-text068 {
  color: var(--dl-color-gray-500);
  text-decoration: underline;
}
.assignment3-text069 {
  font-size: 12px;
  font-style: italic;
}
.assignment3-text070 {
  color: var(--dl-color-gray-500);
  text-decoration: underline;
}
.assignment3-text071 {
  color: var(--dl-color-gray-500);
}
.assignment3-text072 {
  font-weight: 700;
}
.assignment3-text073 {
  color: var(--dl-color-gray-500);
}
.assignment3-text074 {
  color: var(--dl-color-gray-500);
}
.assignment3-text076 {
  color: var(--dl-color-gray-500);
}
.assignment3-text077 {
  color: var(--dl-color-gray-500);
}
.assignment3-text081 {
  font-size: 12px;
  font-style: italic;
}
.assignment3-text082 {
  font-size: 12px;
}
.assignment3-text087 {
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}
.assignment3-container2 {
  top: 4040px;
  right: 31px;
  width: 611px;
  height: 420px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.assignment3-text088 {
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 100%;
  bottom: -14px;
  position: absolute;
}
.assignment3-text089 {
  font-size: 12px;
  font-style: italic;
}
.assignment3-image2 {
  width: 778px;
  height: 426px;
  object-fit: cover;
}
.assignment3-container3 {
  top: 4507px;
  right: 31px;
  width: 611px;
  height: 420px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.assignment3-text091 {
  top: 319px;
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 100%;
  position: absolute;
}
.assignment3-text092 {
  font-size: 12px;
  font-style: italic;
}
.assignment3-image3 {
  width: 699px;
  height: 352px;
  object-fit: cover;
}
.assignment3-hero2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment3-hero-text-container2 {
  width: 90%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.assignment3-heading2 {
  color: rgba(55, 55, 55, 0.66);
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-text094 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment3-text095 {
  font-size: 14px;
}
.assignment3-text096 {
  font-size: 14px;
}
.assignment3-text097 {
  font-size: 14px;
}
.assignment3-text098 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text099 {
  font-size: 14px;
}
.assignment3-text100 {
  font-size: 14px;
}
.assignment3-text101 {
  font-size: 14px;
}
.assignment3-text102 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text103 {
  font-size: 14px;
}
.assignment3-text104 {
  font-size: 14px;
}
.assignment3-text105 {
  font-size: 14px;
}
.assignment3-text106 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text107 {
  font-size: 14px;
}
.assignment3-text108 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text109 {
  font-size: 14px;
}
.assignment3-text110 {
  font-size: 14px;
}
.assignment3-text111 {
  font-size: 14px;
}
.assignment3-text112 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text113 {
  font-size: 14px;
}
.assignment3-text114 {
  font-size: 14px;
}
.assignment3-text115 {
  font-size: 14px;
}
.assignment3-text116 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text117 {
  font-size: 14px;
}
.assignment3-text118 {
  font-size: 14px;
}
.assignment3-text119 {
  font-size: 14px;
}
.assignment3-text120 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment3-text121 {
  font-size: 14px;
}
.assignment3-text123 {
  color: var(--dl-color-gray-500);
}
@media(max-width: 991px) {
  .assignment3-hero {
    flex-direction: column-reverse;
  }
  .assignment3-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .assignment3-cta-btn2 {
    width: 40%;
    display: none;
  }
  .assignment3-hero1 {
    flex-direction: column-reverse;
  }
  .assignment3-hero-text-container1 {
    width: 80%;
    margin-left: 0px;
  }
  .assignment3-hero2 {
    flex-direction: column-reverse;
  }
  .assignment3-hero-text-container2 {
    width: 80%;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .assignment3-links-container {
    display: none;
  }
  .assignment3-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .assignment3-icon {
    fill: var(--dl-color-gray-white);
  }
  .assignment3-heading {
    text-align: center;
  }
  .assignment3-text {
    text-align: center;
  }
  .assignment3-text001 {
    text-align: center;
  }
  .assignment3-text002 {
    text-align: center;
  }
  .assignment3-text003 {
    text-align: center;
  }
  .assignment3-text004 {
    text-align: center;
  }
  .assignment3-text005 {
    text-align: center;
  }
  .assignment3-text006 {
    text-align: center;
  }
  .assignment3-text007 {
    text-align: center;
  }
  .assignment3-text008 {
    text-align: center;
  }
  .assignment3-text009 {
    text-align: center;
  }
  .assignment3-text010 {
    text-align: center;
  }
  .assignment3-text011 {
    text-align: center;
  }
  .assignment3-text012 {
    text-align: center;
  }
  .assignment3-text013 {
    text-align: center;
  }
  .assignment3-text014 {
    text-align: center;
  }
  .assignment3-text015 {
    text-align: center;
  }
  .assignment3-text016 {
    text-align: center;
  }
  .assignment3-text017 {
    text-align: center;
  }
  .assignment3-text018 {
    text-align: center;
  }
  .assignment3-text019 {
    text-align: center;
  }
  .assignment3-text020 {
    text-align: center;
  }
  .assignment3-text021 {
    text-align: center;
  }
  .assignment3-text022 {
    text-align: center;
  }
  .assignment3-heading1 {
    text-align: center;
  }
  .assignment3-text024 {
    text-align: center;
  }
  .assignment3-text088 {
    text-align: center;
  }
  .assignment3-text091 {
    text-align: center;
  }
  .assignment3-heading2 {
    text-align: center;
  }
  .assignment3-text094 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .assignment3-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .assignment3-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .assignment3-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .assignment3-hero-text-container {
    width: 100%;
  }
  .assignment3-hero-text-container1 {
    width: 100%;
  }
  .assignment3-hero-text-container2 {
    width: 100%;
  }
}
