.assignment1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.assignment1-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.assignment1-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.assignment1-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.assignment1-navlink {
  display: contents;
}
.assignment1-image {
  width: 123px;
  height: 58px;
  object-fit: cover;
  text-decoration: none;
}
.assignment1-links-container {
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
}
.assignment1-link {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment1-link1 {
  color: #66bb25;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment1-link2 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment1-link3 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment1-link4 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.assignment1-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.assignment1-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.assignment1-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.assignment1-icon {
  width: 36px;
  height: 36px;
}
.assignment1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.assignment1-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.assignment1-image1 {
  width: 50px;
  object-fit: cover;
}
.assignment1-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignment1-icon02 {
  width: 24px;
  height: 24px;
}
.assignment1-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assignment1-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.assignment1-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment1-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment1-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.assignment1-link8 {
  text-decoration: none;
}
.assignment1-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.assignment1-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.assignment1-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.assignment1-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.assignment1-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.assignment1-icon08 {
  width: 24px;
  height: 24px;
}
.assignment1-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment1-hero-text-container {
  width: 35%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
}
.assignment1-heading {
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text013 {
  color: var(--dl-color-gray-500);
}
.assignment1-text015 {
  color: var(--dl-color-gray-500);
}
.assignment1-text017 {
  color: var(--dl-color-gray-500);
}
.assignment1-text019 {
  color: var(--dl-color-gray-500);
}
.assignment1-text024 {
  color: var(--dl-color-gray-500);
}
.assignment1-text026 {
  color: var(--dl-color-gray-500);
}
.assignment1-text028 {
  color: var(--dl-color-gray-500);
}
.assignment1-text030 {
  color: var(--dl-color-gray-500);
}
.assignment1-text033 {
  color: var(--dl-color-gray-500);
}
.assignment1-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment1-hero-text-container1 {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.assignment1-heading1 {
  color: rgba(55, 55, 55, 0.66);
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text035 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text037 {
  color: var(--dl-color-gray-500);
}
.assignment1-text039 {
  font-weight: 700;
}
.assignment1-text040 {
  color: var(--dl-color-gray-500);
}
.assignment1-text043 {
  color: var(--dl-color-gray-500);
}
.assignment1-text044 {
  font-weight: 700;
}
.assignment1-text045 {
  font-weight: 700;
}
.assignment1-text046 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
}
.assignment1-text049 {
  color: var(--dl-color-gray-500);
}
.assignment1-text051 {
  font-weight: 700;
}
.assignment1-text052 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
}
.assignment1-text055 {
  color: var(--dl-color-gray-500);
}
.assignment1-text057 {
  font-weight: 700;
}
.assignment1-text058 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
}
.assignment1-text061 {
  color: var(--dl-color-gray-500);
}
.assignment1-text062 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
}
.assignment1-text063 {
  font-weight: 700;
}
.assignment1-text066 {
  color: var(--dl-color-gray-500);
}
.assignment1-text067 {
  font-weight: 700;
}
.assignment1-text068 {
  font-weight: 700;
}
.assignment1-text069 {
  color: var(--dl-color-gray-500);
  font-weight: 700;
}
.assignment1-text072 {
  color: var(--dl-color-gray-500);
}
.assignment1-text074 {
  font-weight: 700;
}
.assignment1-text075 {
  color: var(--dl-color-gray-500);
}
.assignment1-text078 {
  color: var(--dl-color-gray-500);
}
.assignment1-container2 {
  top: 2492px;
  right: 31px;
  width: 611px;
  height: 420px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.assignment1-text079 {
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 100%;
  bottom: -44px;
  position: absolute;
}
.assignment1-text080 {
  font-size: 12px;
  font-style: italic;
}
.assignment1-image2 {
  width: 599px;
  height: 359px;
  object-fit: cover;
}
.assignment1-container3 {
  top: 3179px;
  right: 31px;
  width: 611px;
  height: 97px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.assignment1-text082 {
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 100%;
  bottom: -44px;
  position: absolute;
}
.assignment1-text083 {
  font-size: 12px;
  font-style: italic;
}
.assignment1-cta-btn2 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.assignment1-hero2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.assignment1-hero-text-container2 {
  width: 90%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
}
.assignment1-heading2 {
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text085 {
  color: var(--dl-color-gray-500);
  width: 100%;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.assignment1-text086 {
  font-size: 14px;
}
.assignment1-text087 {
  font-size: 14px;
}
.assignment1-text088 {
  font-size: 14px;
}
.assignment1-text089 {
  font-size: 14px;
}
.assignment1-text090 {
  font-size: 14px;
}
.assignment1-text091 {
  font-size: 14px;
}
.assignment1-text092 {
  font-size: 14px;
}
.assignment1-text093 {
  font-size: 14px;
}
.assignment1-text094 {
  font-size: 14px;
}
.assignment1-text095 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment1-text096 {
  font-size: 14px;
}
.assignment1-text097 {
  font-size: 14px;
}
.assignment1-text098 {
  font-size: 14px;
}
.assignment1-text099 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment1-text100 {
  font-size: 14px;
}
.assignment1-text101 {
  font-size: 14px;
}
.assignment1-text102 {
  font-size: 14px;
}
.assignment1-text103 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.assignment1-text104 {
  font-size: 14px;
}
@media(max-width: 991px) {
  .assignment1-hero {
    flex-direction: column-reverse;
  }
  .assignment1-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .assignment1-hero1 {
    flex-direction: column-reverse;
  }
  .assignment1-hero-text-container1 {
    width: 80%;
    margin-left: 0px;
  }
  .assignment1-cta-btn2 {
    width: 40%;
    display: none;
  }
  .assignment1-hero2 {
    flex-direction: column-reverse;
  }
  .assignment1-hero-text-container2 {
    width: 80%;
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .assignment1-links-container {
    display: none;
  }
  .assignment1-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .assignment1-icon {
    fill: var(--dl-color-gray-white);
  }
  .assignment1-heading {
    text-align: center;
  }
  .assignment1-text {
    text-align: center;
  }
  .assignment1-text002 {
    text-align: center;
  }
  .assignment1-text004 {
    text-align: center;
  }
  .assignment1-text006 {
    text-align: center;
  }
  .assignment1-text008 {
    text-align: center;
  }
  .assignment1-text010 {
    text-align: center;
  }
  .assignment1-text011 {
    text-align: center;
  }
  .assignment1-text022 {
    text-align: center;
  }
  .assignment1-text031 {
    text-align: center;
  }
  .assignment1-heading1 {
    text-align: center;
  }
  .assignment1-text035 {
    text-align: center;
  }
  .assignment1-text041 {
    text-align: center;
  }
  .assignment1-text044 {
    text-align: center;
  }
  .assignment1-text047 {
    text-align: center;
  }
  .assignment1-text050 {
    text-align: center;
  }
  .assignment1-text053 {
    text-align: center;
  }
  .assignment1-text056 {
    text-align: center;
  }
  .assignment1-text059 {
    text-align: center;
  }
  .assignment1-text067 {
    text-align: center;
  }
  .assignment1-text070 {
    text-align: center;
  }
  .assignment1-text073 {
    text-align: center;
  }
  .assignment1-text076 {
    text-align: center;
  }
  .assignment1-text079 {
    text-align: center;
  }
  .assignment1-text082 {
    text-align: center;
  }
  .assignment1-heading2 {
    text-align: center;
  }
  .assignment1-text085 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .assignment1-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .assignment1-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .assignment1-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .assignment1-hero-text-container {
    width: 100%;
  }
  .assignment1-hero-text-container1 {
    width: 100%;
  }
  .assignment1-hero-text-container2 {
    width: 100%;
  }
}
