.aa-home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.aa-home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.aa-home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.aa-home-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.aa-home-navlink {
  display: contents;
}
.aa-home-image {
  width: 123px;
  height: 58px;
  object-fit: cover;
  text-decoration: none;
}
.aa-home-links-container {
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: row;
}
.aa-home-link {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.aa-home-link1 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.aa-home-link2 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.aa-home-link3 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.aa-home-link4 {
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.aa-home-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.aa-home-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.aa-home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.aa-home-icon {
  width: 36px;
  height: 36px;
}
.aa-home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.aa-home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.aa-home-image1 {
  width: 50px;
  object-fit: cover;
}
.aa-home-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.aa-home-icon02 {
  width: 24px;
  height: 24px;
}
.aa-home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.aa-home-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.aa-home-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.aa-home-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.aa-home-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.aa-home-link8 {
  text-decoration: none;
}
.aa-home-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.aa-home-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.aa-home-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.aa-home-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.aa-home-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.aa-home-icon08 {
  width: 24px;
  height: 24px;
}
.aa-home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.aa-home-hero-text-container {
  width: 35%;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.aa-home-heading {
  font-size: 50px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-cta-btn2 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  text-align: center;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  border-width: 0px;
  border-radius: 34px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.aa-home-container2 {
  width: 623px;
  height: 415px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/placeholders/no-image.svg');
  background-position: center;
}
.aa-home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aa-home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 27px;
}
.aa-home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.aa-home-text04 {
  font-size: 48px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.aa-home-text05 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.aa-home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.aa-home-feature-card {
  width: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.aa-home-container3 {
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1619548683455-23b17c3ddc30?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=200');
  background-position: center;
}
.aa-home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aa-home-heading1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-text09 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.aa-home-feature-card1 {
  width: 25%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.aa-home-container4 {
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1619548683455-23b17c3ddc30?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=200');
  background-position: center;
}
.aa-home-image4 {
  width: 117px;
  height: 100%;
  object-fit: cover;
}
.aa-home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-text17 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.aa-home-feature-card2 {
  width: 25%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.aa-home-container5 {
  width: 100px;
  height: 150px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://images.unsplash.com/photo-1619547871672-b6562e042c1e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=200');
  background-position: center;
}
.aa-home-image5 {
  width: 146px;
  height: 100%;
  object-fit: cover;
}
.aa-home-heading3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-text25 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.aa-home-feature-card3 {
  width: 25%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.aa-home-container6 {
  width: 100px;
  height: 151px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1619555241737-9c364cf1fbce?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=200');
  background-position: center;
}
.aa-home-image6 {
  width: 100%;
  height: 152px;
  object-fit: cover;
}
.aa-home-heading4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.aa-home-text34 {
  color: var(--dl-color-gray-500);
  text-align: center;
}
.aa-home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
@media(max-width: 991px) {
  .aa-home-hero {
    flex-direction: column-reverse;
  }
  .aa-home-hero-text-container {
    width: 80%;
    margin-left: 0px;
  }
  .aa-home-cta-btn2 {
    width: 40%;
  }
  .aa-home-feature-card {
    align-self: center;
  }
  .aa-home-feature-card1 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .aa-home-links-container {
    display: none;
  }
  .aa-home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .aa-home-icon {
    fill: var(--dl-color-gray-white);
  }
  .aa-home-heading {
    text-align: center;
  }
  .aa-home-text {
    text-align: center;
  }
  .aa-home-text01 {
    text-align: center;
  }
  .aa-home-cta-btn2 {
    width: auto;
    align-self: center;
  }
  .aa-home-heading-container {
    width: 100%;
  }
  .aa-home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .aa-home-feature-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .aa-home-feature-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .aa-home-feature-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .aa-home-feature-card3 {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .aa-home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .aa-home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .aa-home-cta-btn1 {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .aa-home-hero-text-container {
    width: 100%;
  }
  .aa-home-feature-card {
    width: 100%;
  }
  .aa-home-feature-card1 {
    width: 100%;
  }
  .aa-home-feature-card2 {
    width: 100%;
  }
  .aa-home-feature-card3 {
    width: 100%;
  }
}
